{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="min-h-[70vh] flex flex-col justify-center items-center text-center">
    <h1 class="text-9xl font-bold text-primary">404</h1>
    <h2 class="text-2xl font-semibold mb-3 text-dark">Page Not Found</h2>
    <p class="text-lg text-gray-500 mb-4">Sorry, the page you are looking for does not exist or has been moved.</p>
    <a href="{% url 'homepage' %}" class="inline-block px-6 py-3 rounded-lg text-white bg-secondary hover:bg-opacity-90 transition-colors text-lg font-medium">Go to Homepage</a>
</div>
{% endblock %}