<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title> SokoHub </title>
    <style>
        body {
            padding-top: 56px; 
            background-color: var(--bs-light-gray);
        }

        :root {
            --bs-indigo: #8346e5;
            --bs-amber: #f59e0b;
            --bs-dark-gray: #1f2937;
            --bs-light-gray: #f3f4f6;
            --bs-primary: var(--bs-indigo);
            --bs-secondary: var(--bs-amber);
            --bs-dark: var(--bs-dark-gray);
            --bs-light: var(--bs-light-gray);
            --bs-body-color: var(--bs-dark-gray);
        }
        .bg-primary {
            background-color: var(--bs-primary) !important;
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}">SokoHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}" href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'products' %}active{% endif %}" href="{% url 'allProducts' %}">Products</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                   {% if user_type == 'customer'%}
 <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">My Orders</a>
                    </li>
                    {% else %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">My Products</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Orders</a>
                    </li>
                   {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>