{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Welcome to SokoHub</h1>
        <div class="box">
            <form action="accounts/login" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="">username</label>
                <input type="text" placeholder="username" name="username"  required class="form-control">
                </div>
                <div class="input-group">
                    <label for="">Password</label>
                <input type="text" min="8" placeholder="Password" name="password" required class="form-control">
                </div>
            
                <div><input type="checkbox" name="" id=""> Remember me</div>

                
                <button type="submit" class="form-control btn btn-primary">Login</button>
                <a href="/accounts/register">Don't have account? Register</a>
            </form>
        </div>
    </div>
{% endblock %}