{% extends 'base.html' %}


    {% block content %}

    

    <div class="container">
        <h1>Welcome to SokoHub</h1>
        <div class="box">
            <form action="/accounts/register" method="POST" class="column">
                {% csrf_token %}
              <div class="left">
                <div class="input-group">
                    <label for="">Username*</label>
                <input type="text" placeholder="Username" name="username" required class="form-control">
                </div>
                <div class="input-group">
                    <label for="">Email</label>
                <input type="email" placeholder="Email" name="email" required class="form-control">
                </div>
                <div class="input-group">
                    <label for="">Password</label>
                <input type="text" min="8" placeholder="Password" name="password" required class="form-control">
                </div>
                <div class="input-group">
                    <label for="">Confirm password</label>
                <input type="text" min="8" placeholder="Confirm password" required class="form-control">
                </div>
              </div>
               <div class="right">
                <div class="input-group">
                    <label for="">User Type</label>
                <select id="" name="user_type" class="form-control">
                    <option value="">Which user are you?</option>
                    <option value="vendor">Vendor</option>
                    <option value="customer ">Customer</option>
                </select>
                </div>
                <div class="input-group">
                    <label for="">Phone</label>
                    <input type="tel" name="phone" placeholder="Phone"  id="" required class="form-control">
                </div>
                <div class="input-group">
                    <label for="">Location</label>
                    <input type="tel" name="location" placeholder="Location"  id="" required class="form-control">
                </div>
                
                <button type="submit" class="form-control btn btn-danger"> Register </button>
                <a href="/accounts/login">already have account? Login</a>
               </div>
            </form>
        </div>
    </div>
    {% endblock %}
